@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cvCardHeight: clamp(48px, 50vw, 72px);
  --cvCardWidth: clamp(48px, 50vw, 72px);
}

@theme {
  --breakpoint-special: 350px;
  --breakpoint-530px: 530px;
  --breakpoint-herorow: 900px;

  /* PRIMARY COLORS */
  --color-primary-default: #0c2c34;
  --color-primary-active: #092228;
  --color-primary-hover: #175665;
  /* SECONDARY COLORS */
  --color-secondary-default: #faf8ff;
  /* TERTIARY COLORS */
  --color-tertiary-default: #f0e29f;
  --color-tertiary-active: #d6c988;
  --color-tertiary-hover: #f3e9b9;

  /* NEUTRAL COLORS */
  --color-gray-1: #ffffff;
  --color-gray-2: #f5f5f5;
  --color-gray-3: #ededed;
  --color-gray-4: #e0e0e0;
  --color-gray-5: #c2c2c2;
  --color-gray-6: #9e9e9e;
  --color-gray-7: #757575;
  --color-gray-8: #616161;
  --color-gray-9: #404040;
  --color-gray-10: #0a0a0a;
  --color-gray-11: #18171c;

  /* GREEN COLORS */
  --color-green-1: #eef9fb;
  --color-green-2: #e7f6fa;
  --color-green-3: #d1edf4;
  --color-green-4: #aadeeb;
  --color-green-5: #75cadf;
  --color-green-6: #38b3d1;
  --color-green-7: #24829a;
  --color-green-8: #175665;
  --color-green-9: #0f353f;
  --color-green-10: #092228;
  --color-green-11: #081c21;

  /* FONT SIZES */
  --font-size-bodyExtraSmall: 10px;
  --font-size-bodySmall: 12px;
  --font-size-bodyMedium: 14px;
  --font-size-bodySemiLarge: 15px;
  --font-size-bodyLarge: 16px;
  --font-size-headingExtraSmall: 18px;
  --font-size-headingSmall: 20px;
  --font-size-headingSemiMedium: 22px;
  --font-size-headingMedium: 24px;
  --font-size-headingLarge: 28px;
  --font-size-headingExtraLarge: 32px;
  --font-size-displaySmall: 36px;
  --font-size-displayMedium: 42px;
  --font-size-displayLarge: 48px;
  --font-size-displayExtraLarge: 64px;

  /* card icon dimensions */
  --height-cvCardHeight: clamp(48px, 7.5vw, 72px);
  --width-cvCardWidth: clamp(48px, 7.5vw, 72px);
}

body {
  font-family: var(--font-raleway), system-ui, sans-serif;
}

@layer utilities {

.bg-img-opacity-60 {
  background-image:
    linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
    url('/img/home/herobg.png');
}

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    scrollbar-width: none;
  }

  .multiple-strips-mask {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-image: url("data:image/svg+xml;utf8,\
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'>\
        <rect x='4'  y='16' width='19' height='68' rx='9' fill='white' />\
        <rect x='28' y='0'  width='19' height='100' rx='9' fill='white' />\
        <rect x='52' y='0'  width='19' height='100' rx='9' fill='white' />\
        <rect x='76' y='16' width='19' height='68' rx='9' fill='white' />\
    </svg>");

    -webkit-mask-image: url("data:image/svg+xml;utf8,\
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'>\
    <rect x='4'  y='16' width='19' height='68' rx='9' fill='white' />\
        <rect x='28' y='0'  width='19' height='100' rx='9' fill='white' />\
        <rect x='52' y='0'  width='19' height='100' rx='9' fill='white' />\
        <rect x='76' y='16' width='19' height='68' rx='9' fill='white' />\
    </svg>");
  }

  /* Font utilities */

  .text-bodyExtraSmall {
    font-size: var(--font-size-bodyExtraSmall);
  }
  .text-bodySmall {
    font-size: var(--font-size-bodySmall);
  }
  .text-bodyMedium {
    font-size: var(--font-size-bodyMedium);
  }
  .text-bodySemiLarge {
    font-size: var(--font-size-bodySemiLarge);
  }
  .text-bodyLarge {
    font-size: var(--font-size-bodyLarge);
  }
  .text-headingExtraSmall {
    font-size: var(--font-size-headingExtraSmall);
  }
  .text-headingSmall {
    font-size: var(--font-size-headingSmall);
  }
  .text-headingSemiMedium {
    font-size: var(--font-size-headingSemiMedium);
  }
  .text-headingMedium {
    font-size: var(--font-size-headingMedium);
  }
  .text-headingLarge {
    font-size: var(--font-size-headingLarge);
  }
  .text-headingExtraLarge {
    font-size: var(--font-size-headingExtraLarge);
  }
  .text-displaySmall {
    font-size: var(--font-size-displaySmall);
  }
  .text-displayMedium {
    font-size: var(--font-size-displayMedium);
  }
  .text-displayLarge {
    font-size: var(--font-size-displayLarge);
  }
  .text-displayExtraLarge {
    font-size: var(--font-size-displayExtraLarge);
  }

  /* Container utilities */
  .container-wide {
    @apply max-w-[1350px] mx-auto px-5 sm:px-10 lg:px-12;
  }

  /* Spacing utilities */
  .section-padding {
    @apply py-10 md:py-12 lg:py-16;
  }
  .nav-padding {
    @apply py-5;
  }
  .cvCard {
    @apply w-cvCardWidth h-cvCardHeight;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .section-title {
    @apply text-base lg:text-[18px] xl:text-[20px] text-green-8 font-bold text-center;
  }
  .section-max-title {
    @apply text-xl sm:text-[22px] md:text-[28px] xl:text-[32px] text-gray-11 font-bold px-6 text-center;
  }
  .section-subtext {
    @apply text-[13px] sm:text-sm xl:text-base text-gray-8 font-medium px-1 text-center max-w-[550px] sm:max-w-[580px] md:max-w-[620px] xl:max-w-[820px] mx-auto;
  }
}
